streamlit
langchain
langchain-community
langchain-google-genai
langchain-huggingface
faiss-cpu
sentence-transformers
beautifulsoup4
requests
wikipedia
duckduckgo-search
transformers
pypdf
google-generativeai
huggingface_hub
